<h2>Add Expense</h2>
<form id="addForm" name="addForm" novalidate ng-submit="submit(); resetForm();">
    <!-- Subscribe to success flash messages. -->
    <!-- <strong class="alert-heading">Congrats!</strong> -->
    <span class="alert-message">{{flash.message}}</span>
</div>
    <label>Category</label>
    <select ng-model="expense.category" ng-options="category for category in categories">
    </select>
    <label>Amount:</label>
    <input required type="number" ng-model="expense.amount"></input>
    <label>Description:</label>
    <input type="text" ng-pattern="/^[a-zA-Z 0-9]*$/" ng-model="expense.description"></input>
<!--     <button ng-disabled="addForm.$invalid" ng-click="submit(); addForm.$setPristine();">Submit</button>
 -->
  <!--   <button ng-disabled="addForm.$invalid" ng-click="submit(); resetForm(addForm);">Submit</button> -->
<input type="submit" id="submit" value="Submit" ng-disabled="addForm.$invalid">
 </form>
